h1{
	color: #5C6AC4;
}
h4 {border-style: outset;}

div
{border-style:outset; 
  margin: 20px;
}




  
#Habitat{
  font-size: 15px;
}

body {background-color: lightblue;}
#Habitat {background-color: White;}
div {background-color:white;}

li {background-color: White;}
